$primary-font: "Oswald", sans-serif;
$secondary-font: "Karla", sans-serif;

$primary-color: #fff;
$secondary-color: rgb(158, 158, 158);
$third-color: #000;

$main-margin: 0.5rem 1rem;

$large-subhead: 2rem;
$medium-subhead: 1rem;
